<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/about.css">
  <title>Product Manager</title>
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nosifer&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/e3bb2f2a0d.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
  <div class="container">
    <nav>
    <h1>TechZone </h1>
    <ul>
      <li><a href='/home'>Home</a></li>
      
    </ul>
  </nav>

  </div>
</div>
<h1>About Us</h1>

<p>This website is made for all purposes related to managing the products of our chain of electronic stores ,TechZone all across India.</p>
<p>The websites functions include:</p>
<h2>Recommended Products</h2>
<p>This shows the top 2 most in demand products based on previous data stored in database calculated using a metric called sales_point.</p>
<h2>Update Products</h2>
<p>This updates the sales of products with the new sales.</p>
<h2>Search Products</h2>
<p>This shows all available products at the location.</p>
 <!---- <script src="script.js"></script>-->
</body>
</html>
