<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"   href="css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nosifer&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f21855004b.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="header">
        <nav>
            <h1>TechZone </h1>
        </nav>
        <div class="login">
            <h1 >Log In</h1>
            <form action="/login" method="post">
                <div class="input-group">
                    <div class="input-field" id="namefield">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="name" placeholder="User Id">
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <p id="forget">Forget password <a href="">Click here!</a></p>
                    <p id="signup">To Register/Sign Up  <a href="/signup">Click here!</a></p>
                    {{#if error}}
                    <p id="error-message" style="color: red;">{{error}}</p>
                    {{/if}}
                </div>
                <div class="btn-field">
                    <button type="submit" class="disable">Login</button>
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>